/node_modules
/src/public/hot
/src/public/storage
/src/storage/*.key
/src/vendor
/local-data
/data/*
!/data/.keep
.env*
inotifywait_pid
!.env.example
!.env.testing
/src/.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
